html, body { padding: 0; margin: 0; }
.main {
  width: 400px;
  height: 400px;
}
.meta { width: 280px; overflow: auto; }
.meta > .item { width: 40px; height: 40px; float: left; text-align: center; font-size: 12px; }
.calendar { height: 320px; overflow: hidden; }
.list { width: 280px; transform: translate3d(0px, -200px, 0px); }
.list.animate { transition: all .3s; }
.list > .item { width: 40px; height: 40px; float: left; text-align: center; font-size: 12px; color: #aaa; }
.list > .item.now-month { color: #000; }
.list > .item.cur-day { color: red; }
.list > .item:hover { background: #feeff0; }